.logout-container {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.text {
    text-align: center;
}

.text h4 {
    font-size: 20px;
    color: #33b8cd;
}

.btn-container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    column-gap: 1em;
}

.logout-container .btn-container .button {
    padding : 10px;
    border: 1px solid black;
    border-radius: 20px;
    width: 50%;
    box-shadow: 2px 2px 4px rgb(202, 200, 200);
}

.btn-cancel {
    background-color: white;
    color: #33b8cd;
}

.btn-logout {
    background-color:  #33b8cd;
    color: white;
}
